<!-- thread move -->
<div class="modal fade modal-xl" id="threadMove" data-bs-keyboard="false" tabindex="-1" aria-labelledby="threadMoveLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="threadMoveLabel">{{ __ 'page.contents.thread.modal.move.title' }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <h3 id="threadMoveTarget"></h3>
          <p id="threadMoveDescription"></p>
          <hr>
          <p id="threadMoveNameCurrent"></p>
          <p id="threadMoveName"></p>
          <div class="row">
            <div id="threadMoveTargetTree" class="col align-items-center">
              <div id="threadMoveTree" data-url="{{baseUrl}}/api/contents/tree"></div>
            </div>
            <div id="threadMoveBody" class="col">
            </div>
          </div>
          <div class="text-end">{{ __ 'page.contents.thread.modal.move.moveEssDesc' }}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __ 'page.contents.thread.modal.move.modalClose' }}</button>
            <button type="button" class="btn btn-primary" id="threadMoveSubmit" onclick="return movethreadNode();">
              <span id="threadDoMoveText">{{ __ 'page.contents.thread.modal.move.doMove' }}</span>
              <span id="threadDoMoveSpinner" class="d-none">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                {{ __ 'page.contents.thread.modal.move.moving' }}
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
