<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{#if description}}
  <meta name="description" content="{{description}}">
  {{/if}}
  {{#if noindex}}
  <meta name="robots" content="noindex" />
  <meta name="robots" content="nofollow" />
  {{/if}}

  <title>{{title}}</title>

  <!-- header -->
  <meta name="author" content="{{author}}">

  <!-- Bootstrap core CSS -->
  <link href="{{baseUrl}}/public/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap core JavaScript -->
  <script src="{{baseUrl}}/public/static/jquery/jquery.min.js"></script>
  <script src="{{baseUrl}}/public/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Material Icon -->
  <link href="{{baseUrl}}/public/static/material-icons/material-icons.css" rel="stylesheet">
  <!-- tree view -->
  <link rel="stylesheet" href="{{baseUrl}}/public/static/jqtree/jqtree.css" rel="stylesheet">
  <script src="{{baseUrl}}/public/static/jqtree/tree.jquery.js"></script>
  <!-- TagCloud -->
  <script src="{{baseUrl}}/public/static/tagcloud/tagcloud.js"></script>
  <!-- highlight.js -->
  <link rel="stylesheet" href="{{baseUrl}}/public/static/highlight/default.min.css">
  <script src="{{baseUrl}}/public/static/highlight/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <!-- default css -->
  <link href="{{baseUrl}}/public/static/css/global.css" rel="stylesheet">
  <link href="{{baseUrl}}/public/static/css/defaultColor.css" rel="stylesheet">
  {{#if false}}
  <!-- csrf -->
  <script>
    var _csrf = "{{_csrf}}";
  </script>
  {{/if}}
  {{#if custom_header_tag}}
  {{custom_header_tag}}
  {{/if}}

<!-- my tools -->
<script>
  function escape_html (string) {
    if(typeof string !== 'string') {
      return string;
    }
    return string.replace(/[&'`"<>]/g, function(match) {
      return {
        '&': '&amp;',
        "'": '&#x27;',
        '`': '&#x60;',
        '"': '&quot;',
        '<': '&lt;',
        '>': '&gt;',
      }[match]
    });
  }
  function unescape_html (string) {
    if(typeof string !== 'string') {
      return string;
    }
    return string.replace(/&(#(?:x[0-9a-fA-F]+|\d+)|[a-zA-Z]+);/g, function(match, entity) {
      if (entity[0] === '#') {
        const code = entity[1] === 'x' || entity[1] === 'X' ? parseInt(entity.substr(2), 16) : parseInt(entity.substr(1), 10);
        if (!isNaN(code)) {
          return String.fromCharCode(code);
        }
      } else {
        const entities = {
          amp: '&',
          apos: "'",
          lt: '<',
          gt: '>',
          quot: '"',
        };
        if (entities.hasOwnProperty(entity)) {
          return entities[entity];
        }
      }
      return match;
    });
  }
  function format_string() {
    var args = arguments;
    return args[0].replace(/{(\d+)}/g, function(match, number) {
      number = parseInt(number,10);
      return args[number+1] === undefined ? match : args[number+1];
    });
  };
</script>

</head>

<body id="page-top">
<div class="footerFixed">

