  <!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{baseUrl}}/">{{systemName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{#if isLogin}}
                {{ __ 'views.navigator.account.dropdownLogin' user_name }}
              {{else}}
                {{ __ 'views.navigator.account.dropdown' }}
              {{/if}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {{#if isLogin}}
              <li class="dropdown-item">{{ __ 'views.navigator.account.loginId' }}:{{ user_loginId }}</li>
              <li><a class="dropdown-item" href="{{baseUrl}}/account/settings">{{ __ 'views.navigator.account.settings' }}</a></li>
              <li><a class="dropdown-item" href="{{baseUrl}}/account/profile">{{ __ 'views.navigator.account.profile' }}</a></li>
              <li><hr class="dropdown-divider"></li>
              {{/if}}
              {{#if isLogin}}
              <li><a class="dropdown-item" href="{{baseUrl}}/auth/logout">{{ __ 'views.navigator.account.logout' }}</a></li>
              {{else}}
              <li><a class="dropdown-item" href="{{baseUrl}}/auth/login">{{ __ 'views.navigator.account.login' }}</a></li>
              {{/if}}
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item">{{ __ 'views.navigator.lang.dropdown' }}:{{ locale_str }}</li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#langChange">{{ __ 'views.navigator.lang.change' }}</a></li>
            </ul>
          </li>
        </ul>
        <!--
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->

      </div>
    </div>
  </div>
</nav>
<!-- Modal -->
<script>
  function setLanguage() {
    const select = document.querySelector('#langChange .form-select');
    const selectedLang = select.value;
    if (selectedLang === '{{locale}}') {
      const myModal = bootstrap.Modal.getInstance(document.getElementById('langChange'));
      myModal.hide();
      return;
    }
    $.ajax({
      url: '{{baseUrl}}/meta/setLang',
      method: 'POST',
      data:{
        lang: selectedLang,
        _csrf: '{{_csrf}}'
      },
      success: function(response) {
        location.reload();
      },
      error: function(xhr) {
        alert('{{ __ "views.navigator.lang.setError" }}');
      }
    });
  }
</script>
<div class="modal fade" id="langChange" data-bs-keyboard="false" tabindex="-1" aria-labelledby="langChangedropLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="langChangeLabel">{{ __ 'views.navigator.lang.change' }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>{{ __ 'views.navigator.lang.current' }}:{{ locale_str }}</h3>
        <hr>
        <h4>{{ __ 'views.navigator.lang.select' }}</h4>
        <select class="form-select" aria-label="langSelect">
          <option value="{{ locale }}" selected>{{ locale_str }}</option>
          <option value="">{{ __ "views.navigator.lang.auto" }}</option>
          {{#each locales_all as |locale|}}
            <option value="{{locale.code}}">{{locale.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ __ 'views.navigator.lang.close' }}</button>
        <button type="button" class="btn btn-primary" onclick="setLanguage()">{{ __ 'views.navigator.lang.set' }}</button>
      </div>
    </div>
  </div>
</div>
<header>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col">
        <h1>{{pageTitle}}</h1>
      </div>
      <div class="col-8 align-items-center">
        {{#if pageDescription}}
          <p class="lead text-start">
            {{#each pageDescription as |desc|}}
              {{desc}}<br>
            {{/each}}
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</header>
