  <!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{baseUrl}}/">{{systemName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{#if isLogin}}
                {{ __ 'views.navigator.account.dropdownLogin' user_name }}
              {{else}}
                {{ __ 'views.navigator.account.dropdown' }}
              {{/if}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              {{#if isLogin}}
              <li class="dropdown-item">{{ __ 'views.navigator.account.loginId' }}:{{ user_loginId }}</li>
              <li><a class="dropdown-item" href="{{baseUrl}}/account/settings">{{ __ 'views.navigator.account.settings' }}</a></li>
              <li><a class="dropdown-item" href="{{baseUrl}}/account/profile">{{ __ 'views.navigator.account.profile' }}</a></li>
              <li><hr class="dropdown-divider"></li>
              {{/if}}
              {{#if isLogin}}
              <li><a class="dropdown-item" href="{{baseUrl}}/auth/logout">{{ __ 'views.navigator.account.logout' }}</a></li>
              {{else}}
              <li><a class="dropdown-item" href="{{baseUrl}}/auth/login">{{ __ 'views.navigator.account.login' }}</a></li>
              {{/if}}
            </ul>
          </li>
        </ul>
        <!--
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->

      </div>
    </div>
  </div>
</nav>
<header>
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col">
        <h1>{{pageTitle}}</h1>
      </div>
      <div class="col-8 align-items-center">
        {{#if pageDescription}}
          <p class="lead text-start">
            {{#each pageDescription as |desc|}}
              {{desc}}<br>
            {{/each}}
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</header>
